{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>;.
}}

{{!
    @template local_shared_files/delete

    Template for Shared Files delete confirmation page.

    Example context (json):
    {
        "name": "file.txt",
        "path": "/folder/file.txt",
        "sesskey": "abc123",
        "cancelurl": "#",
        "isfile": true,
        "isfolder": false,
        "fileinfo": {
            "path": "/folder/file.txt",
            "size": "10 KB",
            "mtime": "2026-01-01"
        },
        "items": [],
        "isempty": false,
        "istruncated": false,
        "maxitems": 10
    }

}}

<div class="local-shared-files">
  <h3 class="mb-3">
    {{#str}} confirmdelete, local_shared_files, {{name}} {{/str}}
  </h3>

  {{#isfile}}
  <div class="repo-delete-preview">
    <p>
      <strong>{{#str}} file, local_shared_files {{/str}}</strong>
      {{fileinfo.path}}
    </p>

    <p>
      <strong>{{#str}} size, local_shared_files {{/str}}</strong>
      {{fileinfo.size}}
    </p>

    <p>
      <strong>{{#str}} modified, local_shared_files {{/str}}</strong>
      {{fileinfo.mtime}}
    </p>
  </div>
  {{/isfile}}

  {{#isfolder}}
  <p>
    {{#str}}
    previewofitemstobedeleted,
    local_shared_files,
    {{maxitems}}
    {{/str}}
  </p>

  {{#items}}
  <table class="generaltable repo-delete-table">
    <thead>
      <tr>
        <th>{{#str}} path, local_shared_files {{/str}}</th>
        <th>{{#str}} type, local_shared_files {{/str}}</th>
        <th>{{#str}} size, local_shared_files {{/str}}</th>
        <th>{{#str}} modified, local_shared_files {{/str}}</th>
      </tr>
    </thead>
    <tbody>
      {{#items}}
      <tr>
        <td>{{path}}</td>
        <td>{{type}}</td>
        <td>{{size}}</td>
        <td>{{mtime}}</td>
      </tr>
      {{/items}}
    </tbody>
  </table>
  {{/items}}

  {{#isempty}}
  <div class="notifymessage">
    {{#str}} folderisempty, local_shared_files {{/str}}
  </div>
  {{/isempty}}

  {{#istruncated}}
  <div class="notice">
    {{#str}} previewtruncated, local_shared_files {{/str}}
  </div>
  {{/istruncated}}
  {{/isfolder}}

  <form method="post">
    <input type="hidden" name="path" value="{{path}}">
    <input type="hidden" name="confirm" value="1">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

    <div class="form-actions mt-4">
      <button type="submit" class="btn btn-danger">
        {{#str}} yes {{/str}}
      </button>

      <a href="{{cancelurl}}" class="btn btn-secondary">
        {{#str}} no {{/str}}
      </a>
    </div>
  </form>
</div>
